/* ___-_ font-face _-________________ */

/*
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=3.2.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.2.0') format('embedded-opentype'), 
       url('../fonts/fontawesome-webfont.woff?v=3.2.0') format('woff'), 
       url('../fonts/fontawesome-webfont.ttf?v=3.2.0') format('truetype'), 
       url('../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.0') format('svg');
  font-weight: normal;
  font-style: normal;
}
.ft-awesome { font-family: 'FontAwesome'; }
*/
body { color: white; font-family: "RTVEfontSansR", Arial, Helvetica, sans-serif; font-size: 1.2em; position: relative; overflow: hidden; }

/* ___-_ main elements _-________________ */
h1{ padding-bottom: 24px; font-size: 1.4em; line-height: 0.6em; }
h2{ padding-bottom: 1em; font-size: 1.1em; line-height: 0.9em; }
h3{ padding-bottom: 20px; font-size: 1.25em; line-height: 1.2em; }
h4{ padding-bottom: 10px; font-size: 1.25em; line-height: 1.2em; }
h5{ padding-bottom: 10px; font-size: 1.5em; line-height: 1.1em; }
h6{ padding-bottom:  8px; font-size: 1.1em; line-height: 1.1em; }

a { color: #888888;
    -webkit-transition: color .3s ease-in;-moz-transition: color .3s ease-in;-ms-transition: color .3s ease-in;
    -o-transition: color .3s ease-in;transition: color .3s ease-in; }
  a:hover { color: #10634C; text-decoration: none; }
a.block { display: block; height: 100%; width: 100%; }

p { font-size: 0.9em; line-height: 1.1em; margin-bottom: 1em; }
strong { font-family: "RTVEfontSansB", Arial, Helvetica, sans-serif; }

/* ___-_ workers _-________________ */
.inline { display: inline; }

/* Media elements, image + text */
.wk-media-l { float:left; }
  .wk-media-l img,
  .wk-media-r img { display:block; }
.wk-media-r { display:table-cell; zoom:1; }

/* Columns */
.wk-col-l { display:inline; float:left; }
.wk-col-r { display:inline; float:right; }
.wk-col-50 { width: 48%; margin: 0 1%; }
.wk-col-33 { width: 33%; }
.wk-cent { text-align: center; }
.wk-right { text-align: right; }

.wk-valign { display: table; vertical-align: middle; height: 100%; width: 100%; }
  .wk-valign-cont { display: table-cell; vertical-align: middle; text-align: center; }

/* Class for hidding elements if JavaScript is enabled */
html.js body .hidden { display:none; }

/* Clearfix trick to clear floated elements */
.clearfix:after { content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0; }
.clearfix { display:inline-block; } html[xmlns] .clearfix { display:block; }* html .clearfix { height:1%; }
