$main_sprite: url("../img/bg--mainsprite.png");

@import "compass/reset";
@import "compass/utilities";

@import "baselab";
@import "baselab-head";

@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/transform";

.sct-act {
  color: red;
}


#bl-SASASASAMPLE {

  @include box-sizing(content-box);
  @include transform(translateX(0));
  @include transition(all 1s ease-in-out);

  color: red; background: $main_sprite no-repeat -12px -395px;
  
  h1 {  }
  span {  }
  .subsample { color: blue; 
    &:hover {  }
    &.subsample-red { color: red }
    
    .parent &.subsample-red { color: red }
  }
}