<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="es-es"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie7 oldie" lang="es-es"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="es-es"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es-es"> <!--<![endif]-->
<head>
  <base href="./">
  <!--[if IE]><script type="text/javascript">
        // Fix for IE ignoring relative base tags.
        // See http://stackoverflow.com/questions/3926197/html-base-tag-and-local-folder-path-with-internet-explorer
        (function() {
            var baseTag = document.getElementsByTagName('base')[0];
            baseTag.href = baseTag.href;
        })();
    </script><![endif]-->   
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Language" content="es-es">
  <link rel="canonical" href="http://lab.rtve.es<?php echo $_SERVER['REQUEST_URI'] ?>"/>
  
    <!-- SEO -->
  <title><?php echo $titulo ; ?></title>
  <meta name="description" content="<?php echo $description; ?>">
  <meta name="Keywords" content="<?php echo $keywords; ?>">
  <meta name="author" content="lab.rtve.es">
  <meta property="og:title" content="<?php echo $titulo; ?>">
  <meta property="og:description" content="<?php echo $description; ?>">
  <meta property="og:url" content='<?php echo 'http://lab.rtve.es'.$_SERVER['REQUEST_URI'] ?>'>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@rtve">
  <meta name="twitter:creator" content="@lab_rtvees">
  <meta name="twitter:title" content="<?php echo $titulo; ?>">
  <meta name="twitter:description" content="<?php echo $description; ?>">
  <meta property="og:image" content="http://lab.rtve.es<?php echo $properties['FINALPATH']; ?>img/<?php echo $seoimg; ?>.jpg">
  <meta name="twitter:image" content="http://lab.rtve.es<?php echo $properties['FINALPATH']; ?>img/<?php echo $seoimg; ?>.jpg">

  <!-- viewport -->
  <meta name="viewport" content="width=1250">

  <!-- build:css src/styles.min.css -->
    <link rel="stylesheet" href="./css/styles.css"><% if (lbtTimeline) { %>
    <link rel="stylesheet" href="./js/lbt-timeline.css"><% } %>
    <!-- bower:css -->
    <!-- endbower -->
  <!-- endbuild -->

  <link rel="stylesheet" href="http://www.rtve.es/css/tipografias.css">

  <script type="text/javascript" src="//www.rtve.es/js/mushrooms/rtve_mushroom.js" ></script>
</head>

<body>

  <main id="seo-basico" role="main" style="display:none" class="hidden">
    <?php if($subsect) : ?>

      <h1><?php echo $titulo ; ?></h1>
      <h2><?php echo $description; ?></h2>

      <?php switch($subsect['url']):
        case 'un-pais-en-depresion/mundial-82': ?>
          <p>SEO para la ruta dada</p>
        <?php break; ?>


      <?php endswitch; ?>

    <?php else: ?>
      <p>SEO inicial</p>
    <?php endif; ?>

  <!-- end seo -->
  </main>
  <script>document.getElementById('seo-basico').innerHTML = '';</script>

  <?php include('./templates/html.html'); ?>

  <!-- build:js src/app.js -->
  <!-- bower:js -->
  <!-- endbower -->
  <% if (lbtFullscreen) { %>
  <script type="text/javascript" src="js/lbt-fullscreen.js"></script><% } %><% if (lbtConsole) { %>
  <script type="text/javascript" src="js/lbt-console.js"></script><% } %><% if (lbtUrl) { %>
  <script type="text/javascript" src="js/lbt-url.js"></script><% } %><% if (lbtMedia) { %>
  <script type="text/javascript" src="js/lbt-media.js"></script><% } %><% if (lbtTimeline) { %>
  <script type="text/javascript" src="js/lbt-timeline.js"></script><% } %>
  <script type="text/javascript" src="js/base.js"></script> 
  <!-- endbuild -->

  <script>
    <?php echo 'var g121Data = {"url":"'.$_SERVER['REQUEST_URI'].'", "data": "'.$jsonCont.'"};'; ?>
    <?php if(isset ($subsect)) { echo 'g121Data.char = "'.$subsect['titulo'].'";'; } ;?>

      <?php // SET SOME JS DEFAULTS BASED IN 'entorno.properties' ?>
    if(labTools && labTools.url) {
      labTools.url.data.baseUrl = "<?php echo $properties['FINALPATH']; ?>";
      labTools.url.ga = false;
    }
    if(labTools && labTools.console) labTools.console.data.log = "<?php echo $properties['LOG']; ?>";

  </script>

</body>
</html>